{%- if section.settings.show_announcement -%}
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}
    <div class="announcement-bar">
      <p class="announcement-bar__message">hihihi</p>
    </div>
  {%- endif -%}
{%- endif -%}


{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    }
  ]
}
{% endschema %}