<style>
  .hero-image{
    width: 100%;
    height: 100vw;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  {% if section.settings.show_announcement%}
  .hero-image{
    margin-top: 3.5rem;
  }
  {% endif %}
  .hero-image__text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
</style>

{% capture image_size %}{{ section.settings.hero_max_width }}x{% endcapture %}
{% if section.settings.show_hero_image %}
<section class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ section.settings.hero_image | img_url: image_size }});">
  <div class="hero-image__text">
    <h1 class="header-text">{{ section.settings.hero_bar_header }}</h1>
    <p class="header-description">{{ section.settings.hero_bar_text }}</p>
  </div>
</section>
{% endif %}



{% schema %}
  {
    "name": "Hero Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_hero_image",
        "label": "Show Hero Image",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero image"
      },
      {
        "type": "range",
        "id": "hero_max_width",
        "min": 750,
        "max": 1600,
        "step": 10,
        "unit": "px",
        "label": "Custom hero width",
        "default": 1600
      },
      {
        "type": "richtext",
        "id": "hero_bar_header",
        "label": "Hero Bar Header",
        "default": "<p>Hero Bar Header</p>"
      },      
      {
        "type": "richtext",
        "id": "hero_bar_text",
        "label": "Hero Bar Text",
        "default": "<p><i>Hero Bar Text</i></p>"
      }
    ]
  }

{% endschema %}


